* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20px;
}

.toggle.ios .toggle-handle {
  border-radius: 20px;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.navbar-toggler {
  background-color: #fff;
}


body.dark-mode .navbar-toggler {
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  color: #000000;
}

body.dark-mode .navbar-nav .nav-link {
  color: black !important;
}

body.dark-mode .navbar-nav .nav-link,
body.dark-mode .navbar-nav .nav-item.active .nav-link {
  color: white !important;
}

img {
  width: 160px;
  height: 40px;
}

body.dark-mode .drop:hover {
  color: black;
}

li {
  margin: 5px;
  font-weight: bold;
}


.navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-nav .nav-item.dropdown:focus .nav-link {
  color: black !important;
}

body.dark-mode .navbar-nav .nav-item.dropdown:hover .nav-link,
body.dark-mode .navbar-nav .nav-item.dropdown:focus .nav-link {
  color: white !important;
}

.dropdown-menu {
  background-color: #fff;
  color: white !important;
}

.dropdown-item {
  font-weight: bold;
  color: black !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: orange !important;
  font-weight: bold;
}


body.dark-mode .navbar-nav .nav-item.dropdown:hover .nav-link,
body.dark-mode .navbar-nav .nav-item.dropdown:focus .nav-link {
  color: #ffffff !important;
}

body.dark-mode .dropdown-menu {
  background-color: white;
  color: #ffffff !important;
}

body.dark-mode .dropdown-item:hover,
body.dark-mode .dropdown-item:focus {
  color: orange !important;
  font-weight: bold;
}

.custom-width {
  width: 150px;
  height: 43px;
  border-radius: 62px;
  font-weight: bold;
}

.carousel-item {
  display: flex;
  justify-content: center;
}


.img1 {
  background-image: url('./images/1.png');
}

.img2 {
  background-image: url('./images/2.png');
}

.img3 {
  background-image: url('./images/3.png');
}

.active-section {
  background-color: #CED600;
  cursor: pointer;
}





.card {
  width: 90%;
  /* Set the width of your card */
  margin: 0 10px;
  padding: 15px;
  height: 700px;
  /* Set the height of your card */
  background-size: cover;
  background-position: center;
  color: white;
}

.card .head h6 {
  color: white;
  font-size: 20px;

}

.card .head p {
  color: white;
  font-size: 15px;
}

.readbtn h6 a {
  color: white;
  text-decoration: none;
}

.card .empty {
  height: 600px;
}

.card .head h6 {
  margin: 15px 0px;
}

.section-one {
  background-image: url(images/img_2.png);
  margin: 0px 10px;
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.section-one .heading-one {
  text-align: center;
  letter-spacing: 0.9px;
  color: #FFFFFF;
  opacity: 1;
}

.btn-1 {
  width: 186px;
  height: 58px;
  border-radius: 30px;
  opacity: 1;
}

.card-one {
  height: 130px;
  background-color: white;
  margin-left: 130px;
}